.container {
    display: flex;
    height: 100vh;
}

.map {
    width: 100%;
    height: 100vh;
}

.map-container {
    width: 100%;
    height: 100%;
}

.history-map {
    width: 100%;
    height: 100vh;
}

.history-map-container {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.map-infoWindow {
    color: black;
    font-size: medium;
}

.p-tag {
    margin-top: -15px;
}
